{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Scrolling Nav - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/menuPrincipal.css' %}" rel="stylesheet" />
  </head>

  <body>
       

  <div id="header">
    <h1>50 Amigos</h1>
    <p>Aqui entre amigos, un heladito</p>
  </div>

  <div class="container">

    {% for i in listaCategorias %}
      
      {% if i.nombre == "Entradas" %}
        <div class="card">
          <div class="card-image"><img src={{i.imagen}} /></div>
          <div class="card-text">
            <button type="button" class="card-button">
              <a href="{% url 'cincuentaAmigos:platillos' %}">
                <h2 class="card-title">{{i.nombre}}</h2>
              </a>
            </button>
          </div>
        </div>
      {% elif i.nombre == "Platillos principales" %}
         <div class="card">
          <div class="card-image"><img src={{i.imagen}} /></div>
          <div class="card-text">
            <button type="button" class="card-button">
               <a href="{% url 'cincuentaAmigos:platillos' %}">
                <h2 class="card-title">{{i.nombre}}</h2>
              </a>
            </button>
          </div>
        </div>
      {% elif i.nombre == "Bebidas" %}
        <div class="card">
          <div class="card-image"><img src={{i.imagen}} /></div>
          <div class="card-text">
            <button type="button" class="card-button">
              <a href="{% url 'cincuentaAmigos:bebidas' %}">
                <h2 class="card-title">{{i.nombre}}</h2>
              </a>
            </button>
          </div>
        </div>
      {% elif i.nombre == "Postres" %}
        <div class="card">
          <div class="card-image"><img src={{i.imagen}} /></div>
          <div class="card-text">
            <button type="button" class="card-button"> 
              <a href="{% url 'cincuentaAmigos:postres' %}">
                <h2 class="card-title">{{i.nombre}}</h2>
              </a>
            </button>
          </div>
        </div>
      {% endif %}

    {% endfor %}

    <div class="card">
      <div class="card-image"><img src= "https://laloma.com.mx/media/wysiwyg/Loma_copia_3042.jpg"/></div>
      <div class="card-text">
        <button type="button" class="card-button">
          <a href="{% url 'cincuentaAmigos:helados' %}">
            <h2 class="card-title">Helados</h2>
          </a>
        </button>
      </div>
    </div>
    
  </div>
    
  </body>
</html>
