{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->
  <title>50 Amigos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="50 Amigos">
  <meta name="author" content="EDIS">
  <meta name="description" content="Menú de tableta para el restaurante 50 amigos.">
  
  <!-- Favicon -->
  <link rel="apple-touch-icon" href="{% static 'assets/img/favicon/CincuentaAmigos.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon/CincuentaAmigos.png' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/menu.css' %}" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="foo">
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'cincuentaAmigos:menu-principal' %}" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>50<span>amigos</span></h1>
      </a>

      <div id="cd-cart-trigger"><a class="btn-book-a-table" href="">Carrito</a></div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
 

  <main id="main">

    <!-- ======= Menu Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up" >

        <div class="section-header">
          <h2>nuestro</h2>
          <p>CA<span>TÁL</span>OG<span>O</span></p>
        </div>

        {% comment %} <div class="row gy-4"> {% endcomment %}

          <div class="container-card">
          {% for i in listaCategorias %}
            <div class="card col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">                
              <div class="card-image"><img src={{i.imagen}}></div>
              <div class="contenido-card">
                {% if i.nombre == "Entradas" %}
                <a href="{% url 'cincuentaAmigos:entradas' %}">
                  <h2 class="card-title">Entradas</h2>
                {% endif %}    
                
                {% if i.nombre == "Platillos principales" %}
                <a href="{% url 'cincuentaAmigos:platillos' %}">
                  <h2 class="card-title">Platillos</h2>
                {% endif %}    

                {% if i.nombre == "Bebidas" %}
                <a href="{% url 'cincuentaAmigos:bebidas' %}">
                  <h2 class="card-title">Bebidas</h2>
                {% endif %} 
                
                {% if i.nombre == "Postres" %}
                <a href="{% url 'cincuentaAmigos:postres' %}">
                  <h2 class="card-title">Postres</h2>
                {% endif %} 
                </a>
              </div>
            </div>
          {% endfor %}
        </div>

        
        <div class="card align" data-aos="fade-up" data-aos-delay="500">
          <div class="contenido-card">
            <a href="{% url 'cincuentaAmigos:helados' %}">
             <h2 class="card-title">Helado</h2>
           </a>
          </div>
        </div>
      </div>
    </section><!-- End Section -->
  </main><!-- End #main -->

  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-3">
        <div id=""><a class="btn-cerrar-sesion" href="{% url 'cincuentaAmigos:logout' %}">Cerrar Sesión</a></div>

      </div>
    </div>
  </footer>

  <div id="cd-shadow-layer"></div>

  <div id="cd-cart">
		<h2>Carrito</h2>
		<ul class="cd-cart-items">
      {% for alimento in listaCarrito %}
        <li>
          <span class="cd-qty">1x</span> {{ alimento.nombre }}
          <div class="cd-price">{{ alimento.precio }}</div>
          <a href="#0" class="cd-item-remove cd-img-replace">Remove</a>
        </li>
      {%endfor%} 
		</ul> <!-- cd-cart-items -->

		<div class="cd-cart-total">
			<p>Total <span>$39.96</span></p>
		</div> <!-- cd-cart-total -->

    <form action="{% url 'cincuentaAmigos:eliminar-carrito' %}" method="post">
      {% csrf_token %}
		  <button class="checkout-btn" type="submit">Mandar Orden</a>
    </form>  
		
		<button class="cd-go-to-cart" href="#0">Regresar al menu</button>
	</div> <!-- cd-cart -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'js/shopping-cart.js' %}"></script>

</body>
</html>