{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>50 Amigos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="50 Amigos">
    <meta name="author" content="EDIS">
    <meta name="description" content="Menú de tableta para el restaurante 50 amigos.">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{% static 'assets/img/favicon/CincuentaAmigos.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon/CincuentaAmigos.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    
    <!-- Login CSS -->
    <link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">

</head>

<body>

    <main>

        {% comment %} {% include 'includes/pre-loader.html' %} {% endcomment %}

        <link rel="stylesheet" href="{% static 'css/messages.css' %}">
        <link rel="stylesheet" href="{% static 'css/pixel.css' %}">

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{% static 'assets/img/pages/restaurante50.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Asignación de mesa</h1>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="pd-d" for="exampleFormControlSelect1">Número de Mesa</label>

                                    <div class="input-group mb-4">
                                        <select class="form-select" id="inlineFormCustomSelectPref" name="numero_mesa" aria-label="Selecciona una mesa">
                                            <option selected disabled>Selecciona la mesa</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Ubicación</label>
                                    <select class="form-select" id="inlineFormCustomSelectPref" name="ubicacion" aria-label="Selecciona una ubicación">
                                        <option selected disabled>Selecciona la ubicación</option>
                                        <option>Terraza</option>
                                        <option>Balcón</option>
                                        <option>Jardín</option>
                                        <option>Comedor central</option>
                                    </select>
                                </div>

                                <div class="{% if messages %}d-none{% endif %} mb-4"></div> 
                                
                                <div class="my-4">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primaryM">Iniciar Sesión</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Inicia sesión como
                                    <a href="{% url 'cincuentaAmigos:adminLink' %}" class="fw-bold text-underline">Administrador</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
  
    {% include 'includes/scripts.html' %}
    {% block javascripts %}{% endblock javascripts %}
  
  
  </body>
    

 {% block footer %}{% endblock footer %}