{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
         <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/menuPrincipal.css' %}" rel="stylesheet" />
    </head>
    <body>
       

<div id="header">
    <h1>La Saveur</h1>
    <p>The Traditional Fench Taste</p>
      </div>
    <div class="container">
    <div class="card">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1604135307399-86c6ce0aba8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80">
      </div>
      <div class="card-text">
        <p class="card-meal-type">Breakfast/Eggs</p>
        <h2 class="card-title">Délicieux Bénédicte</h2>
        <p class="card-body">Eggs Benedict with hollandaise sauce, crispy bacon and an assortment of garden herbs.</p>
      </div>
      <div class="card-price">$56</div>
    </div>
      <div class="card">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1551782450-17144efb9c50?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1769&q=80">
      </div>
      <div class="card-text">
        <p class="card-meal-type">Lunch/Meat</p>
        <h2 class="card-title">Du bœuf Burger</h2>
        <p class="card-body">A beef burger with wholewheat patty, juicy lettuce and a side of gluten free fries</p>
      </div>
      <div class="card-price">$39</div>
    </div>
      <div class="card">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1635146037526-a75e6905ad78?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80">
      </div>
      <div class="card-text">
        <p class="card-meal-type">Soups/Meat</p>
        <h2 class="card-title">Soupe à l’oignon</h2>
        <p class="card-body">The traditional French soup made with onions and beef with a dollop of garlic and saffaron mayonise.</p>
      </div>
      <div class="card-price">$69</div>
    </div>
      <div class="card">
      <div class="card-image">
        <img src="https://www.expatica.com/app/uploads/sites/5/2020/03/Coq-au-vin.jpg">
      </div>
      <div class="card-text">
        <p class="card-meal-type">Appetizers/Meat</p>
        <h2 class="card-title">Coq au Vin</h2>
        <p class="card-body">Chickens doused in wine, mushrooms, pork, onions and garlic.</p>
      </div>
      <div class="card-price">$104</div>
    </div>
    
    </div>
    
    
    </body>
</html>
