{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>50 Amigos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="50 Amigos">
    <meta name="author" content="EDIS">
    <meta name="description" content="Menú de tableta para el restaurante 50 amigos.">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="{% static 'assets/img/favicon/CincuentaAmigos.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon/CincuentaAmigos.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" />
  </head>

  <body class="foo">
  {%load crispy_forms_tags %}

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <a href="{% url 'cincuentaAmigos:menu-principal' %}" class="logo d-flex align-items-center me-auto me-lg-0">
          <h1>50<span>amigos</span></h1>
        </a>
    
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="{% url 'cincuentaAmigos:entradas' %}"><h5 class="h5-font">Entradas</h5></a></li>
            <li><a href="{% url 'cincuentaAmigos:platillos' %}"><h5 class="h5-font">Platillos</h5></a></li>
            <li><a href="{% url 'cincuentaAmigos:bebidas' %}"><h5 class="h5-font">Bebidas</h5></a></li>
            <li><a href="{% url 'cincuentaAmigos:postres' %}"><h5 class="h5-font">Postres</h5></a></li>
            <li class="dropdown">
              <a class="active" href="{% url 'cincuentaAmigos:helados' %}">
                <span><h5 class="h5-font">Helado</h5></span> <i class="bi bi-chevron-down dropdown-indicator"></i>
              </a>
              <ul>
                <li><a href="{% url 'cincuentaAmigos:votacion' %}">Votación</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    
        <div id="cd-cart-trigger">
          <a class="btn-book-a-table" href="">Carrito</a>
        </div><!-- imagen de carrito -->
      </div>
    </header><!-- End Header -->

    <!-- ======= Main ======= -->
    <main id="main">
      <!-- ======= Helado votacion ======= -->
      <section id="menu" class="menu">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Voto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'cincuentaAmigos:votacion' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <!--  Nombre del que vota -->
                    <input type="text" class="form-control" id="nombre_votante" name="nombre_votante">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Sabor de Helado:</label>
                    <select id="sabor_votado" name="sabor_votado">
                      <!--  Sabor del helado -->
                      {% for helado in listaHelado %}
                      <option value="{{helado.sabor}}">{{helado.sabor}}</option>
                      {% endfor %}
                    </select>
                  </div>
  
                  <button type="submit" class="btn btn-dark"> Votar! </button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal " id="resultadoVotacion" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Resultado de la votación</h5>
              </div>
              <div class="modal-body">
                {% if votos %}
                  <p class="resultado">Helado ganador: {{votos.0.id_helado__sabor}}</p>
                  <p class="resultado">Votos:</p>
                  <ul>
                    {% for voto in votos %}
                    <li>
                        <p>{{voto.id_helado__sabor}}: {{ voto.num_votos }}</p>
                    </li>
                    {% endfor %}
                  </ul>
                  <p>En caso de empate se elige aleatoriamente entre los sabores ganadores.</p>
                {% else %}
                  <p>No se registro ningún voto.</p>
                {% endif %}
                <h5>¡Que tenga un buen día!</h5>
              </div>
              <div class="modal-footer">
                <div>
                  {% if votos %}
                    <a href="{% url 'cincuentaAmigos:nuevo-comensal' %}"> Cerrar </a>
                  {% else %}
                    <a href=""> Cerrar </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- ======= Sección Helados ======= -->
        <div class="container" data-aos="fade-up">
          <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-postres">
              <div class="tab-header text-center menu-padding">
                <p>Menu</p>
                <h3>Helados</h3>
              </div>
              <div class="row gy-5">
              <!-- Botones de la votación -->
              <div id="botones_votacion">
                <div class="js-btn">
                  <button type="button" class="btn vot-boton" data-toggle="modal"
                      data-target="#exampleModal" data-whatever="@mdo">Nuevo Voto</button>
                  <button type="button" class="btn vot-boton" data-toggle="modal"
                      data-target="#resultadoVotacion">Terminar votación </button>
                </div>
              </div>
              {% for helado in listaHelado %}
                <div class="col-lg-3 menu-item">
                  <a href="" class="glightbox"><img src={{helado.imagen}} class="img-normalizada" alt=""></a>
                  <div class="contenido-card">
                    <a href="{% url 'cincuentaAmigos:postres' %}">
                      <h2 class="title">{{helado.sabor}}</h2>
                    </a>
                  </div>
                    <p class="descripcion center-p">
                      <a class="letra">
                        {{helado.descripcion}}
                      </a>
                    </p>
                  </div><!-- Menu Item -->
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section><!-- Fin  Sección -->
    </main><!-- End #main -->

    <div id="cd-shadow-layer"></div>

    <div id="cd-cart">
      <h2>Carrito</h2>
      <ul class="cd-cart-items">
        {% for dato in datosCarrito %}
        <li>
          <span class="cd-qty">{{ dato.cantidad }}x</span> {{ dato.alimento.nombre }}
          <div class="cd-price">$ {{ dato.precio }}</div>
        </li>       
        {% endfor %} 
      </ul> <!-- cd-cart-items -->

      <div class="cd-cart-total">
        <p>Total <span>$ {{ precioTotal }}</span></p>
      </div> <!-- cd-cart-total -->

      <div class="js-btn">
        <form action="{% url 'cincuentaAmigos:carrito' %}" method="post">
          {% csrf_token %}
          <button class="checkout-btn" type="submit">Ver Carrito</button>
        </form>  
      </div>
      <div class="js-btn checkout-mg">
        <button id="return-to-menu" class="checkout-btn-2">Regresar al menú</button>
      </div>
    </div> <!-- cd-cart -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    
    <div id="preloader"></div>
    
    <!-- Vendor JS Files -->
    <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static '/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    
    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/helado.js' %}"></script>
      
    </script>
  </body>
</html>