{% extends 'layouts/base.html' %}
{% load static %}
{% block header %}{% endblock header %}
{% block content %}
{%load crispy_forms_tags %}

    <main>

        {% comment %} {% include 'includes/pre-loader.html' %} {% endcomment %}

        <link rel="stylesheet" href="{% static 'css/messages.css' %}">

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{% static 'assets/img/pages/restaurante50.jpg' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Asignación de mesa</h1>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Número de Mesa</label>

                                    <div class="input-group mb-4">
                                        {% comment %} <span class="form-control"><i class="fas fa-search"></i></span> {% endcomment %}

                                        <select class="form-select" id="inlineFormCustomSelectPref" name="numero_mesa" aria-label="Selecciona una mesa">
                                            <option selected disabled>Selecciona la mesa</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Ubicación</label>
                                    <select class="form-select" id="inlineFormCustomSelectPref" name="ubicacion" aria-label="Selecciona una ubicación">
                                        <option selected disabled>Selecciona la ubicación</option>
                                        <option>Terraza</option>
                                        <option>Balcón</option>
                                        <option>Jardín</option>
                                        <option>Comedor central</option>
                                    </select>
                                </div>

                                <div class="{% if messages %}d-none{% endif %} mb-5"></div> 
                                
                                <div class="my-4">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Iniciar sesión como
                                    <a href="{% url 'cincuentaAmigos:adminLink' %}" class="fw-bold text-underline">Administrador</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

 {% endblock content %}

 {% block footer %}{% endblock footer %}